apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: db-demo
  name: db-demo
  namespace: "{{ project_name }}"
spec:
  failedBuildsHistoryLimit: 5
  output:
    to:
      kind: ImageStreamTag
      name: db-demo:latest
  runPolicy: Serial
  source:
    binary: {}
    type: Binary
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: 'jboss-eap72-openshift:latest'
        namespace: openshift
    type: Source
  successfulBuildsHistoryLimit: 5
