apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: db-demo
  name: db-demo
  namespace: {{ project_name }}
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    app: db-demo
    deploymentconfig: db-demo
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: db-demo
        deploymentconfig: db-demo
    spec:
      containers:
      image: db-demo:latest
      imagePullPolicy: Always
      name: db-demo
      ports:
        - containerPort: 8080
          name: http
          protocol: TCP
      resources:
        limits:
          cpu: '1'
          memory: 384Mi
        requests:
          cpu: 100m
          memory: 256Mi
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
        - db-demo
      from:
        kind: ImageStreamTag
        name: 'db-demo:latest'
        namespace: {{ project_name }}
    type: ImageChange
