apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: db-demo
  namespace: {{ project_name }}
spec:
  scaleTargetRef:
    apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig 
    name: db-demo
    subresource: scale
  minReplicas: 1 
  maxReplicas: 10 
  targetCPUUtilizationPercentage: 900
