apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: alpine
  namespace: {{ project_name }}
spec:
  lookupPolicy:
    local: true
  tags:
  - annotations: null
    from:
      kind: DockerImage
      name: docker.io/alpine:latest
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source
