apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: db-demo
  name: db-demo
  namespace: {{ project_name }}
spec:
  port:
    targetPort: 8080-tcp
  tls:
    termination: edge
  to:
    kind: Service
    name: testing-data-creator
    weight: 100
  wildcardPolicy: None
