apiVersion: v1
kind: Service
metadata:
  labels:
    app: db-demo
  name: db-demo
  namespace: {{ project_name }}
spec:
  ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    deploymentconfig: db-demo
  sessionAffinity: None
  type: ClusterIP
